@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552797832677'); /* IE9 */
  src: url('iconfont.eot?t=1552797832677#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABmQAAAJNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsdgE2AiQDCAsGAAQgBYRtBzEbnQXILrBt2JMSZWSgENfOuU8GA4CPINrvN/vuvjieVCNRNIsmMolGKNAgQWyEYpWQPJPf9Wu//R+8pJ3+PSJm/ck+ufO9xaYTMqGKTSdkQoRIQxdH55F8TIltWqhffcUnfPesT9w7/rU5kPmAcllz0aJpRXHc+b8A98I2WTE2jF3gEi4TaBrX0drfOriAaZk1KxDX0SuYzsVkmRXrQrVmYxZPKurFQ/ECPIa/jz+jmKZQSayao6tNCyuf7CkJ5a3LdOd2Pg/YNhJWgUyc1eYOjAnGGdPMjZsG+6oMPpWl7xB7tQr211nlbTAKZfckdxW3WizgtmR9OudGPY8YvaFnTLmzT3UM7174beRfe6FHj5lszX3N2UBsa2xk2Uqsns35Us38JqwAJbz/M70nCgT3/tZb/69LBh+9D6X92FmA+u78wW8hy8oSZK60bEVWJS3kgcLo6eqamijh0IDfsabheyiFuuERgZqxFEndLJHpq6hoWUNV3RaaVmxvbxnExkRuYNkDQOjziULXM5I+30Sm/6BixD+q+mIMTRcxeGDLfMTZPSYlZFHfYzRl4RynzEaVZ+SvM8VZZci9Im5iEoe9QbG4TQXxHEuaGz8Scei4zHELXEdZVmLFZUJGekGkmuv3Xd2HeqbMYdYeRhRBLKTdQ5FRKji/v5gtff8M8a5lFG5pq4leIawRh0dDPYMexLau6NV2L7c0bngjQjjIYaUc2gLjSCZTQlX9uAQxRE8YkanM6dvdXF9db31D/nUHoMkyF2GPTGo3QRUmXAMAAA==') format('woff2'),
  url('iconfont.woff?t=1552797832677') format('woff'),
  url('iconfont.ttf?t=1552797832677') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552797832677#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e6f0";
}

